body {
    font-family: Arial, sans-serif;
}

#content {
    text-align: center;
    margin-top: 50px;
}

#actionButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: fit-content;
    background-color: #fccabe;
}

li {
    display: inline-flex;
}

a {
    color: black;
    text-decoration: none;
    margin: 4pt;
    padding: 4pt;
    background-color: #ffdbdb;
}